<div class="banner" style="background: linear-gradient(to right, #00c6fb 0%, #005bea 100%)">


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
       <div id='test'>
        <h1>Un compte professionnel 100% en ligne</h1>
          <p>Profession libérale, auto-entrepreneur, TPE & PME, association.</p>

            <a class="typeform-share btn" href="https://flit1.typeform.com/to/hjBkhN" data-mode="popup"  target="_blank">JE M'INSCRIS EN MOINS DE 5 MINUTES</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>



      </div>
    </div>


    <div class="col-xs-12 col-sm-6 flit">
     <%= image_tag("flit.png")%>
    </div>
  </div>
</div>



</div>

