<div class="banner" style="background: linear-gradient(to right, #00c6fb 0%, #005bea 100%)">


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
       <div id='test'>
        <h1>Un compte professionnel 100% en ligne</h1>
          <p>Profession libérale, auto-entrepreneur, TPE & PME, association.</p>
            <a class="btn" href="https://flit1.typeform.com/to/hjBkhN">JE M'INSCRIS EN MOINS DE 5 MINUTES </a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 flit">
     <%= image_tag("flit.png")%>
    </div>
  </div>
</div>



</div>

