
<section class="banner1">

 <div class="container">
    <div class="row">
      <h1 class="title">Tous les outils pour piloter votre activité </h1>
    <div class="col-sm-4 padded1 bannertel img-fluid">
      <%= image_tag("SoldeMockUp1.png")%>
       <p>Une inscription en quelques clics, un IBAN français en moins de 24h et une appliction conçue pour gérer ses opérations en toute simplicité.</p>
    </div>

    <div class="col-sm-4 paddedtop img-fluid">
      <%= image_tag("Mastercard.png")%>
       <p>Une carte pro Mastercard intelligente physique ou virtuelle pour surveiller vos transactions. Changez votre PIN ou suspendez votre carte en temps réel.</p>
    </div>

    <div class="col-sm-4 paddedtop img-fluid">
      <%= image_tag("TerminalSumUp.png")%>
       <p>Un terminal de paiement sans contact-SumUp pour encaisser vos clients en phyique.</p>
      </div>
    </div>
 </div>
</section>

