<div class="banner4" id="banner4" style="background: linear-gradient(to right, #00c6fb 0%, #005bea 100%)">

  <div class="container">
    <h2>Ils ne parlent pas encore de nous...</h2>

    <div class="bande">
      <p>ssss</p>
    </div>

  </div>

</div>


