
<section class="banner1">

 <div class="container">
    <div class="row" id="banner1">

        <h1 class="title">Tous les outils pour piloter votre activité </h1>
          <div class="col-sm-4 padded1 bannertel">
          <%= image_tag("SoldeMockUp1.png")%>
          <p>Une inscription en quelques clics, un IBAN français en moins de 24h et une appliction conçue pour gérer ses opérations en toute simplicité.</p>
          </div>

          <div class="col-sm-4 paddedtop">
          <%= image_tag("Mastercard.png")%>
          <p class="paddedtopcard">Une carte pro Mastercard intelligente physique ou virtuelle pour surveiller vos transactions. Changez votre PIN ou suspendez votre carte en temps réel.</p>
          </div>

          <div class="col-sm-4 paddedtop">
          <%= image_tag("TerminalSumUp.png")%>


            <div class="available" >
              <h2>Bientôt disponible</h2>
            </div>


          <p class="paddedtopterminal">Un terminal de paiement sans contact-SumUp pour encaisser vos clients en phyique.</p>
          </div>

    </div>
 </div>
</section>

