<div class="banner3" id="banner3" style="background: linear-gradient(to right, #fff 50%, #1287F6 50%, #005bea 100%)">

 <div class="container">
  <div class="row">
    <div class="col-xs-6 left">

      <h1>1 mois gratuit</h1>
      <h2>(puis 9€HT/mois)</h2>
      <br>
      <p>✅  1 IBAN Français instantanément
        <br>
        <br>✅  1 Carte Mastercard intelligente
        <br>
        <br>✅  20 virements SEPA par mois
        <br>
        <br>✅  Nombre d'utilisateurs illimité
        <br>
        <br>✅  Support client disponible 7j/7
        <br>
      </p>

    </div>

      <div class="col-xs-6 paddedbtn">
               <a class="typeform-share btn" href="https://flit1.typeform.com/to/hjBkhN" data-mode="popup"  target="_blank">JE M'INSCRIS EN MOINS DE 5 MINUTES</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

     </div>
   </div>
  </div>
</div>



