<div class="banner4" id="banner4" style="background: linear-gradient(to right, #00c6fb 0%, #005bea 100%)">

  <div class="row">
        <h2>Ils ne parlent pas encore de nous...</h2>
  </div>


   <div class="bande">
     <%= image_tag("TechCrunch.png")%>
     <%= image_tag("BusinessInsider.png")%>
     <%= image_tag("LesEchos.png")%>
     <%= image_tag("FrenchWeb.png")%>
   </div>

  <div class="row">
        <h2>... Suivez-nous en vous inscrivant à notre NewsLetter!</h2>


  </div>




</div>






