<div class="banner" style="background: linear-gradient(to right, #00c6fb 0%, #005bea 100%)">
  <div class="row">
    <div class="col-xs-12 col-ml-6">
       <div id='test'>
        <h1>Un compte professionnel 100% en ligne</h1>
          <p>Profession libérale, auto-entrepreneur, TPE & PME, association.</p>
            <a class="btn">TESTER NOTRE SOLUTION</a>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-ml-6 flit">
     <%= image_tag("flit.png")%>
    </div>



</div>

