<div class="banner" style="background: linear-gradient(to right, #00c6fb 0%, #005bea 100%)">
    <div class="col-sm-6">
      <div id='btn'>
     <h1>Un compte professionnel 100% en ligne</h1>
      <p>Profession libérale, auto-entrepreneur, TPE & PME, association.</p>
        <a class="btn btn-warning btn-lg">TESTER NOTRE SOLUTION</a>
   </div>
   </div>
   <div class="col-sm-6">
     <h1>ELEMENT 1 CF LOUIS</h1>
   </div>
 </div>

