<div class="banner" style="background: linear-gradient(to right, #fff 50%, #1287F6 50%, #005bea 100%)">

<div class="container">
   <div class="row">
    <div class="col-xs-6">
      <h1>coucou</h1>
    </div>
  </div>

   <div class="row">
    <div class="col-xs-6">

      <a class="btn">JE M'INSCRIS EN MOINS DE 5 MINUTES</a>

    </div>
  </div>
  </div>


</div>
