
<div class="footer1">
    <p style="color: white">hello@flit.fr</p>
  </div>
<div class="footer">


  <div class="footer-links">
    <a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a>
    <a class="linkedin" href="#"><i class="fa fa-linkedin-square"></i></a>
    <a class="facebook" href="#"><i class="facebook fa fa-facebook-square"></i></a>
  </div>

</div>
