<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-twitter-square"></i></a>
    <a href="#"><i class="fa fa-linkedin-square"></i></a>
    <a href="#"><i class="fa fa-facebook-square"></i></a>
  </div>

</div>
