.banner4 {
  color: white;
  height: 90vh;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  margin: 0px;


  h2 {
    font-size: 25px;
    padding-top: 50px;
  }

}

@media (max-width: 768px) {
.banner4 {height: auto;}
}

.bande {
  background-color: white;
  box-sizing: content-box;
  color: black;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;

  img{
    height: 70px;
  }
  @media (max-width: 768px) {
  .bande img {height: auto;}
}

}


