

#test {
  padding-left: 100px;
  text-align: left;
}

.banner {
  color: white;
  height: 100vh;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  height: 200px;
}


.banner h1 {
  font-size: 50px;
}


.banner p {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  opacity: 0.9;
  margin-bottom: 80px;
}

.btn{
    padding: 10px 80px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 46px;
    background: linear-gradient(to right, #da5420 0%, #fb6318 100%);
    color: white;
  }
.btn:hover {
  background: red;
  color: white;
}









