.footer {
  background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  font-size: 50px;
  padding: 0px 20px;
  opacity: 1 ;
}
.footer-links a:hover {
  opacity: 0.6;
}

