<div class="container">
        <div class="row">
          <p>coucou </p>
          <div class="col-sm-4 padded1">
            <h1>
              <%= image_tag("SoldeMockUp.png")%>
            </h1>
               <p>Une inscription en quelques clics, un IBAN français en moins de 24h et une appliction conçue pour gérer ses opérations en toute simplicité.</p>
           </div>
          <div class="col-sm-4 padded1">
            <h1>
              <%= image_tag("Mastercard.png")%>
            </h1>
              <p>Une carte pro Mastercard intelligente physique ou virtuelle pour surveiller vos transactions. Changez votre PIN ou suspendez votre carte en temps réel.</p>
          </div>
          <div class="col-sm-4">
            <h1>
              <%= image_tag("SumUp_Air_3.png")%>
            </h1>
             <p>Un terminal de paiement sans contact-SumUp pour encaisser vos clients en phyique.</p>
           </div>
        </div>
  </div>

